.technologies {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  color: #fff;
  scroll-snap-align: start;
  padding-top: 100px;
}

.technologies__title {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0;
}
