.App {
  overflow: scroll;
  height: 100vh;
  text-align: center;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.App-link {
  color: #61dafb;
}
