.logo {
  position:absolute;
  top: 16px;
  left: 56px;
  font-size: calc(30px + 2vmin);
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: 760px) {
  .logo {
    left: 24px;
  }
}
