.header {
  position: fixed;
  top:0;
  left: 0;
  background-color: #000;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: -1;
}

.header__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
